/*****************************************
reset.css
******************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,figure { margin: 0; padding: 0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
sup { vertical-align: super; font-size: smaller; }
a img{ border: none; }
ol, ul { padding: 10px 0 20px; margin: 0 0 0 35px; }
ol li { list-style-type: decimal; padding: 0 0 5px; }
ul li { list-style-type: square; padding: 0 0 5px; }
ul ul, ol ol { padding: 0; }
h1, h2, h3, h4, h5, h6 { font-family: "Raleway", sans-serif; text-transform: capitalize; }
h1, h2, h3, h4, h6 { font-weight: 300; }
h5 { font-weight: bold; }
h5, h6 { text-transform: uppercase; letter-spacing: 2px; font-weight: bold; }
.post-body h1, .post-body h2 { border-bottom: 2px solid #1e1e1e; font-size: 30px; letter-spacing: -0.5px; line-height: 1.361em; margin: 10px 0; padding: 5px 0; }
.post-body h3, .note { border-bottom: 2px solid #AE2525; font-size: 1.5em; line-height: 1.375em; margin: 10px 0; padding: 5px 0; display: block; }
.post-body h4 { border-bottom: 2px solid #CCC; font-size: 1.188em; line-height: 1.526em; margin: 10px 0; padding: 5px 0; font-weight: bold;}
.post-body h5 {	font-weight: normal; letter-spacing: .3em; font-weight: bold;}
/*****************************************
Global Links CSS
******************************************/
::-moz-selection { background: #1e1e1e; color: #fff; text-shadow: none; }
::selection { background: #1e1e1e; color: #fff; text-shadow: none; }
a { color: #AE2525; text-decoration: none; transition: color .15s linear; -webkit-transition: color .15s linear; -moz-transition: color .15s linear; }
a:hover { color: #333; text-decoration:none; }
body { background: #f5f5f5; color: #333; font-family: "proxima-nova", Sans-Serif; font-size: 22px; line-height: 31px; font-weight: 300;}
.clr { clear: both; float: none; }
/*****************************************
Wrappers
******************************************/
.blogouter-wrapper { overflow: hidden; position: relative; width: 100%; }
.header-wrapper { background: #1e1e1e; position: relative; z-index: 999; margin: 0; }
.ct-wrapper { padding: 0 20px; position: relative; max-width: 1280px; margin: 0 auto; }
.outer-wrapper{ position: relative; }
.main-wrapper { width:auto; margin-right:350px; }
#content { background: #fff;  float: left;  position: relative; width: 100%; }
.sidebar-wrapper { width: 350px; float: left; margin: 1em 0; }
/**** Layout Styling CSS *****/
body#layout .header-wrapper { margin-top: 40px; }
body#layout #header { float: left; width: 50%; }
body#layout #navigation { float: right; width: 50%; }
body#layout .outer-wrapper, body#layout .sidebar-wrapper, body#layout .ct-wrapper { margin: 0; padding: 0; }
body#layout .sidebar #HTML102 { display: block; }
/*****************************************
Header CSS
******************************************/
#header { float: left; overflow: hidden; text-align: center; }
#header img { height: 125px; left: 32.5px; position: absolute; top: 13px; width: 125px; transition: all .20s linear; -webkit-transition: all .20s linear; -moz-transition: all .20s linear; transform:rotate(-20deg); -ms-transform:rotate(-20deg); -webkit-transform:rotate(-20deg); }
#header img:hover { transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform:rotate(0deg); }
/*****************************************
Main Menu CSS
******************************************/
.main-nav { margin-left: 150px; position: relative; z-index: 1000; }
.main-nav ul { width: 100%; padding: 0; margin: 0; }
.main-nav li { float: left; list-style-type: none; padding: 0; width: 20%; }
.main-nav li a { color: #FFFFFF; display: block; font-size: 14px; padding: 20px 10px; text-align: center; text-transform: uppercase; }
.main-nav ul li a:hover, .main-nav ul li a:active { background: #333; }
.main-nav ul li.highlight a { background: #FFFFFF; color: #1E1E1E; }
.main-nav li a span.menu-tag { color: #999; display: block; font-size: 13px; }
.main-nav li a span.icon { background: url("//3.bp.blogspot.com/-OaXfTLJV_cI/U4Z8n5g7lXI/AAAAAAAADCs/3UxXJZd7M1I/s1600/menu-sprites.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; height: 20px; margin: 0 auto; width: 20px; }
.main-nav li a span.i1 { background-position: 0 0; }
.main-nav li a span.i2 { background-position: -20px 0px; }
.main-nav li a span.i3 { background-position: -40px 0px; }
.main-nav li a span.i4 { background-position: -60px 0px; }
.main-nav li a span.i5 { background-position: -80px 0px; }
.main-nav li.highlight a span.i1 { background-position: 0px -20px; }
.main-nav li.highlight a span.i2 { background-position: -20px -20px; }
.main-nav li.highlight a span.i3 { background-position: -40px -20px; }
.main-nav li.highlight a span.i4 { background-position: -60px -20px; }
.main-nav li.highlight a span.i5 { background-position: -80px -20px; }
.main-nav a#pull { display: none; }
/*****************************************
Blog Post CSS
******************************************/
.post { padding: 40px 10%; display: inline-block; width: 80%; }
h1.post-title, h2.post-title { color: #1e1e1e; font-size: 40px; font-weight: 900; line-height: 1.3em; margin-bottom: 5px; text-transform: capitalize; }
h1.post-title, h1.post-title a, h2.post-title, h2.post-title a { color: #1e1e1e; text-decoration:none; }
h1.post-title a:hover, h2.post-title a:hover { color: #000; text-decoration:none; }
.post-body { font-size: 22px; line-height: 31px; font-weight: 300; padding: 0; margin: 0; text-transform:auto; word-wrap:break-word; text-align: justify; }
.btnt-img { position: relative; float:left; margin: 5px 15px 10px 0; }
.btnt-img img { width: 220px; height: 220px; }
.post-body img{ position:relative; }
.post-header { border-bottom: 1px dotted #D5D5D5; border-top: 1px dotted #D5D5D5; color: #BBB; display: inline-block; font-family: 'open-sans',sans-serif; font-size: 14px; font-style: italic; padding: 5px 0; text-transform: capitalize; width: 100%; line-height: 200%; }
.post-header a { color: #888; }
.post-header a:hover { color: #ccc; }
.post-header-line-1 { float: left; }
/******************************************
Misc
******************************************/
.home-link { display:none;}
#blog-pager-newer-link {display: block;  float: none;  padding: 5px 5px 5px 50px;  text-align: left;}
#blog-pager-newer-link:before { content:"NEXT POST:"; font-size: 10px; letter-spacing: 2px;}
#blog-pager-older-link {display: block;  float: none;  padding: 5px 5px 5px 50px;  text-align: left;}
#blog-pager-older-link:before { content:"PREVIOUS POST:"; font-size: 10px; letter-spacing: 2px;}
.showpageOf { display:none; }
.showpagePoint, .showpage a, .showpageNum a { margin: 0 10px 0 0; }
/***** Post Highlighter CSS *****/
.post blockquote, .blockquote { margin: 30px auto; padding: 5%; background: #f8f8f8; color: #333; text-align: center; font-size: 1em; line-height: 150%; }
.black-box { background-color: #fbfbfb; margin: 30px 0; padding: 30px; text-align: center; }
pre, .codeview { background: #222; font-size: 12px; line-height: 150%; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; -ms-border-radius:8px; -khtml-border-radius:8px; border-radius:8px; color: #FFFFFF; font-family: "Courier New",monospace; margin: 1em auto; padding: 1.5em 3em; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
code { font-family: "Courier New",monospace; font-size: 12px; background: #eee; color: #333; }
/*****************************************
custom widget CSS
******************************************/
/***** Tagline *****/
.in-wrap { padding: 3em 20%; background: #1e1e1e; border-top: 1px solid #333; }
.tagline p { color: #fff; font-family: Raleway, Sans-Serif; font-size: 35px; font-variant: small-caps; line-height: 150%; text-align: center; }
.tagline span { background: #AE2525; display: inline-block; font-size: 16px; font-style: italic; font-variant: normal; line-height: normal; padding: 5px 10px; }
/***** BSA ADs Code *****/
.bsa-ads { background-color: #FBFBFB; border: 1px solid #DDDDDD; display: inline-block; margin: 0 0 10px; overflow: hidden; padding: 20px; }
body .one .bsa_it_ad { background: transparent; border: none; font-family: inherit; padding: 0; margin: 0; text-align: center; }
body .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; }
body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 0; text-align: center; }
.ad-article-wrapper { width: 100%; margin: 0 0 15px -12.5%; padding: 0 12.5%; background: #f5f5f5; overflow: hidden; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.ad-article { width: 110%; padding: 10px 2.5% 10px 12.5%; margin: 0 0 0 -12.5%; height: auto; float: left; clear: both; display: block; position: relative; background: rgba(255,255,255,0.6); }
.ad-article img.ad-img { position: absolute; left: 0px; top: 0px; margin: 0px; max-height: 100%; }
/***** Subscribe widget *****/
.sidebar #HTML102 { background: #1e1e1e; border-left: 1px solid #333; color: #999; font-family: Verdana,Arial,Tahoma,sans-serif; font-size: 12px; padding: 35px 50px; text-align: center; display: inline-block; }
.sidebar #HTML102 h5 { color: #fff; font-size: 20px; margin-bottom: 15px; text-align: center; }
/***** Form CSS *****/
input { color: #333; margin-top: 10px; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }
input[type=text], select, textarea { box-shadow: none; background: #fff; border: 1px solid #eee; color: #bbb; font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 9px; padding: 12px 15px; text-transform: capitalize; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
textarea { color: #333; font-size: 12px; text-transform: none; }
.emailText { background: url("//3.bp.blogspot.com/-B39xC4Ufk5g/Ud0G2vNjdiI/AAAAAAAACfE/2BVYbTyCUzk/s1600/email-icon.png") no-repeat scroll 16px 15px #FFFFFF !important; border-width: 3px !important; border-style: none none solid !important; padding: 13px 15px 13px 45px !important; }
.btntEmailform { max-width: 300px; margin: 0 auto; }
/***** Button CSS *****/
input[type="button"],
input[type="submit"], button, .button, .comments .continue a, .comments .comment .comment-actions a, .comments .comments-content .loadmore a, .showpageNum a, .showpage a, .showpagePoint  { background: #AE2525; border-color: rgba(0, 0, 0, 0.1); border-width: 3px; border-style: none none solid; box-shadow: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #fff; cursor: pointer; padding: 12px 15px; text-decoration: none; text-transform: capitalize; display: inline-block; }
input:hover[type="button"],
input:hover[type="submit"], button:hover, .button:hover, .comments .continue a:hover, .comments .comment .comment-actions a:hover, .comments .comments-content .loadmore a:hover, .showpageNum a:hover, .showpage a:hover, .showpagePoint { background: #880A0A; color: #fff; text-decoration: none; }
input.small[type="submit"], button.small, .button.small, .comments .continue a, .comments .comment .comment-actions a { font-size: 12px; line-height: normal; padding: 5px 10px; }
input.medium[type="submit"], button.medium, .button.medium, .comments .comments-content .loadmore a { font-size: 15px; line-height: normal; padding: 10px 20px; }
input.large[type="submit"], button.large, .button.large { font-size: 20px; line-height: normal; padding: 12px 24px; }
/***** Table CSS *****/
.entry-content table, .entry-content table.table { border-collapse:collapse; border-spacing: 0; margin: 0 0 20px; width: 100%; }
.entry-content table th, .entry-content table.table th { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: #1e1e1e; border-color: -moz-use-text-color -moz-use-text-color #e4e5e5; border-image: none; border-style: none none solid; border-width: 0 0 1px; color: #FFFFFF; font-size: 16px;  font-weight: bold; padding: 10px; text-align: left; }
.entry-content table td, .entry-content table.table td { border: none; color: #000; padding: 10px; text-align: left; }
.entry-content table.table td { background: #F0F0F0; border-bottom: 1px solid #e4e5e5; }
.entry-content table.table td.even { background: #FBFBFB; }
/***** Popular Post *****/
.PopularPosts { background: #F2F2F2; }
.PopularPosts h5 { background: #777; color: #fff !important; padding: 12px 25px !important; margin: 0 -25px; }
.PopularPosts .widget-content { font-size: 15px; font-style: italic; margin: 0 !important; }
.popular-posts ul { margin: 0 !important; padding: 0 !important; }
.popular-posts ul li { list-style: none; border-bottom: 1px solid #ddd; padding: 0 25px !important; margin: 0 -25px; }
.popular-posts ul li:hover { background: #fafafa; text-decoration: none; }
.popular-posts ul li a { color: #404040; display: block; padding: 18px 24px; }
.popular-posts ul li a:hover { color: #262626; text-decoration: none; }
.PopularPosts img { background: #fff; border: 1px solid #CCCCCC; display: block; float: left; height: 48px; margin-right: 8px; padding: 3px; width: 48px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; }
/***** Social Box Widget CSS *****/
#social-box { background:#f6f6f6; border-bottom: 1px solid #ccc; height: 405px; position: relative; margin-bottom: 10px;  width: 300px; }
#social-box:before,#social-box:after{ background: #f7f7f7; border: 1px solid #aaa; border-top: none; bottom: -3px; content: ""; height: 1px; left: 2px; position: absolute; right: 2px; }
#social-box:after { bottom: -5px; box-shadow: 0 0 2px #aaa; left: 4px; right: 4px; }
.gplusprofile { height: 105px; overflow: hidden; }
.gpluspage { height: 106px; overflow: hidden; }
.twitterpage { height: 34px; overflow: hidden; background: #f5f5f5; position: relative; border-bottom: 1px solid #ccc; }
/***** Btnt Social Share widget CSS ******/
.btnt-social { float: left; margin: 5px 20px 0 0; width: 90px; }
/***** Subscribe Inside post Widget CSS *****/
.post-body .btntEmailsub { text-align:center; background: #fbfbfb; padding: 20px 20px 40px; clear: both; display: block; margin: 10px 0; border: 4px solid #eee; }
.post-body .btntEmailsub h5 { font-weight: normal; margin-bottom: 10px; text-transform: capitalize; text-align: center; }
.post-body .btntEmailsub p { font-style: italic; text-transform: capitalize; }
/***** Custom Labels *****/
.cloud-label-widget-content { display: inline-block; text-align: left; }
.cloud-label-widget-content .label-size { display: inline-block; float: left; margin: 5px 5px 0 0; opacity: 1; }
.cloud-label-widget-content .label-size a, .cloud-label-widget-content .label-size span { background: #fff; display: block; font-size: 13px; font-style: italic; padding: 5px 8px; }
.cloud-label-widget-content .label-size:hover a, .cloud-label-widget-content .label-size span { background: #fbfbfb; }
.cloud-label-widget-content .label-size .label-count { display: none; }
/***** Profile Widget CSS *****/
.Profile img { border: 1px solid #cecece; background: #fff; float: left; margin: 5px 10px 5px 0; padding: 5px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; }
.profile-data { color: #999999; font: bold 20px/1.6em Arial,Helvetica,Tahoma,sans-serif; font-variant: small-caps; margin: 0; text-transform: capitalize; }
.profile-datablock { margin: 0.5em 0; }
.profile-textblock { line-height: 1.6em; margin: 0.5em 0; }
a.profile-link { clear:both; display:block; font:80% monospace; padding:10px 0; text-align:center; text-transform:capitalize; }
/*****************************************
Sidebar CSS
******************************************/
.sidebar { margin: 0; padding: 0; display:block; font-size: 13px; }
.sidebar h2, .sidebar h5 { font-size: 15px; font-weight: normal; color: #333; text-transform: capitalize; padding: 5px 10px 5px 0; text-align: left; }
.sidebar .widget { margin-bottom: 10px; padding: 0 25px; }
.sidebar ul { clear: both; margin: 0 0 0 15px; padding: 0; }
.sidebar ul li { padding: 0 0 5px; }
/*****************************************
Footer CSS
******************************************/
.footer { background: #1e1e1e; color: #666; font-size: 13px; line-height: 1.5; margin: 30px 0 0; padding: 30px 0; width: 100%; }
.footer a { color: #999; text-decoration:none; }
.footer a:hover { color: #bbb; text-decoration:none; }
.footer-bottom .attribution{ padding: 9px 0; text-align: center; }
/***** Footer Nav CSS *****/
.footer-nav { position: relative; width: 100%; z-index: 1000; }
.footer-nav ul { margin: 0; padding: 1em 0; text-align: center; width: 100%; }
.footer-nav li { list-style-type: none; display: inline-block; padding: 0; }
.footer-nav li a { color: #999; display: inline-block; font-style: normal !important; margin: 0 0 0 1em; padding: 0; text-decoration: none; }
.footer-nav li a:after { content: "\2022"; display: inline-block; margin: 0 0 0 1em; color: #666; }
.footer-nav li:last-child a:after { display: none; }
.footer-nav ul li a:hover, .footer-nav ul li a:active { text-decoration: none; color: #bbb; }
/*****************************************
Comments CSS
******************************************/
.comments { border-top: 3px solid #AE2525; padding: 40px 10%; }
.comments h4 { border-bottom: 1px solid #ddd; font-size: 30px; line-height: normal; margin: 0 0 30px; padding: 0 0 10px; }
.comments .comments-content .comment-thread ol { overflow: hidden; margin: 0; }
.comments .comments-content .comment-thread ol li { list-style: none; }
.comments .comments-content .comment:first-child { padding-top: 0; }
.comments .comments-content .comment { margin-bottom: 0; padding-bottom: 0; }
.comments .avatar-image-container { max-height: 60px; width: 60px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.comments .avatar-image-container img { max-width: 60px; width: 100%; }
.comments .comment-block { border-bottom: 1px solid #f5f5f5; margin-left: 72px; padding: 0 0 0 20px; }
.comments .comments-content .comment-header a {  text-transform: capitalize; }
.comments .comments-content .user { display: block; font-family: 'Raleway','sans-serif'; }
.comments .comments-content .datetime { margin-left: 0; }
.comments .comments-content .datetime a { color: #333; font-size: 12px; text-transform: uppercase; }
.comments .comments-content .comment-header, .comments .comments-content .comment-content { margin: 0 20px 0 0; }
.comments .comment-block .comment-actions { display: block; text-align: right; }
.comments .comment .comment-actions a { margin: 0 0 5px 5px; }
.comments .comment .comment-actions a:hover { text-decoration: none; }
.comments .thread-toggle { display: none; }
.comments .comments-content .inline-thread { margin: 0 0 20px 35px !important; padding: 0 0 0 20px; }
.comments .continue { display: none; }
/*****************************************
Responsive styles
******************************************/
@media screen and (max-width: 1100px) {
.main-wrapper{ margin: 0 !important; width: 100%; }
.sidebar-wrapper{ float: left; width: auto; }
.sidebar-wrapper .widget { border: none; margin: 0 auto 10px auto; }
.PopularPosts, .sidebar #HTML102 { margin: 0 25px 10px !important; }
.opt-in .inner .ct-wrapper {  padding: 0 48px; }
.opt-in .info {  text-align: center;   }
.opt-in .signup-form {  margin-top: 30px;  width: 95%;  float: left;  }
}
@media screen and (max-width: 1000px) {
#header { float: none; }
#header img { position: relative; top: auto; left: auto; margin: 20px auto; }
.main-nav { display: block; width: 100%; float: none; margin: 0; }
.main-nav ul { text-align: center; }
.main-nav ul { display: none; height: auto; }
.main-nav a#pull { background-color: #1E1E1E; border-top: 1px solid #333; color: #fff; display: inline-block; font-family: raleway; font-size: 13px; font-weight: bold; padding: 10px 3%; position: relative; text-align: left; text-transform: uppercase; width: 94%; }
.main-nav a#pull:after { content:""; background: url('//2.bp.blogspot.com/-LwR9Bn5wyRQ/U10FzXsJXMI/AAAAAAAAC8M/ng-HiAmed9Q/s1600/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px; }
.main-nav li { display: block; float: none; width: 100%; }
.main-nav li a { border-top: 1px solid #333; display: block; }
}
@media screen and (max-width: 960px) {
.ct-wrapper{ padding: 5px; }
}
@media screen and (max-width: 768px){
#comment-editor { margin: 10px; }
}
@media screen and (max-width: 600px){
.opt-in .inner .ct-wrapper {  padding: 0 10px; }
}
@media screen and (max-width: 420px){
.comments .comments-content .datetime{ display: block; float: none; }
.comments .comments-content .comment-header { height: 70px; }
}
@media screen and (max-width: 320px){
.comments .comments-content .comment-replies { margin-left: 0; }
}
/*****************************************
custom widget CSS
******************************************/
/***** Optin Form CSS *****/
.opt-in .inner { background: #1e1e1e; padding: 50px 0; color: #777; text-shadow: 0 1px 1px #000000; }
.opt-in .inner h4 { font-size: 32px; margin-bottom: 10px; font-style: normal; color: #fff; line-height: 150%; }
.opt-in .inner a { border-bottom: 1px solid #DDDDDD; color: #DDDDDD; }
.opt-in .inner a:hover { border-bottom: 1px dashed #DDDDDD; }
.opt-in .opt-in-wrap { margin-right: 40%; }
.opt-in .info { float: left;  width: 100%;  }
.opt-in .signup-form { background: #2e2e2e; float: right; width: 35%; text-align: center; text-shadow: none; }
.opt-in .signup-form h4 { font-size: 26px; }
.opt-in .signup-form .form-inner { margin: 40px 35px 50px; }
.post-body img {
max-width:100%;
max-height:auto;
}
